<h2>Cards</h2>
<mat-card class="tarjeta">
    <mat-card-header>
        <div mat-card-avatar class="imagen-titulo-tarjeta"></div>
        <mat-card-title>Abner Garcia</mat-card-title>
        <mat-card-subtitle>Profesor - Coderhouse</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://wallpaperaccess.com/full/3910939.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button>Like</button>
        <button mat-button>Share</button>
    </mat-card-actions>
</mat-card>