.grid-header{
    grid-area: header;
}

.grid-menu{
    grid-area: menu;
}

.grid-students{
    grid-area: main;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    'header header  header  header  header  header'
    'menu   main    main    main    main    main';
}