<h2>Tabla</h2>

<table mat-table [dataSource]="datos" class="mat-elevation-z8" class="tabla ">
    <ng-container matColumnDef="indice">
        <th mat-header-cell *matHeaderCellDef> Índice </th>
        <td mat-cell *matCellDef="let fila"> {{ fila.indice }} </td>
    </ng-container>
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let fila"> {{ fila.nombre }} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
</table>