<div fxLayout="row wrap">
    <mat-card fxFlex.gt-lg="20%" fxFlex.lt-md="100%" *ngFor="let curso of cursos" class="card">
        <mat-card-title>{{ curso.nombre }}</mat-card-title>
        <mat-card-subtitle> Camada {{ curso.camada }}</mat-card-subtitle>
        <mat-card-content>{{ curso.descripcion }}</mat-card-content>
        <mat-card-actions align="end">
            <button fxFlex.lt-md="100%" mat-flat-button color="accent" (click)="modificarCurso(curso)">Modificar</button>
        </mat-card-actions>
    </mat-card>
</div>