<div class="contain" *ngFor="let curso of cursos">
    <mat-card>
        <mat-card-title>
            {{ curso.nombre }}
        </mat-card-title>
        <mat-card-subtitle>
            Del {{ curso.fechaInicio | date: 'dd/MM/YYYY' }} al {{ curso.fechaFin | date: 'dd/MM/YYYY' }}
        </mat-card-subtitle>
        <mat-card-content>
            <p>Profesor: {{ curso.profesor.nombre }}</p>
            <p>{{ curso.estudiantes.length }} Estudiantes</p>
        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-button color="primary" (click)="abrirDialogModificar(curso)">Modificar</button>
            <button mat-button color="warn" (click)="eliminarCurso(curso.id)">Eliminar</button>
        </mat-card-actions>
    </mat-card>
</div>