<h2>Botones</h2>
<button mat-button>mat-mutton</button> <br>
<button mat-stroked-button color="primary">mat-stroked-button</button> <br>
<button mat-raised-button color="accent">mat-raised-button</button> <br>
<button mat-flat-button color="warn">mat-flat-button</button> <br>
<button mat-icon-button color="primary">
    <mat-icon>home</mat-icon>
</button>
<button mat-fab color="primary">
    <mat-icon>delete</mat-icon>
</button><br>
<a mat-raised-button href="#">link</a>
<button mat-raised-button disabled>Disabled</button>